// --- DOM ------------------------------------------------------

body
{
    font: 83.33%/150% "Segoe UI" , "Helvetica Neue" , Arial , "Liberation Sans" , sans-serif;
    background: #1E1E1E;
    color: #D4D4D4;
    margin: 0;
    padding: 0;
}

input
{
    color: #A1A1A1;
    border: 1px solid #525252;
    background-color: #202020;
}

input:hover
{
    border-color: #9e4141;
}

input:focus
{
    border-color: #d02222;
    background-color: #2C2C2C;
}

input[type=text]
{
    padding: 5px;
    border-radius: 3px;
    font-size: 16px;
}

input[type=submit]
{
    padding: 6px;
    background: #b40000;
    color: white;
    border: 0;
    border-radius: 5px; 
}

// --- BOXES ------------------------------------------------------

.error
{
    color: #ff5e5e;
    background: #3f0000;
    border: 1px solid #da0000;
    border-left: 5px solid #da0000;
    padding: 7px;
}

// --- CONTENT ------------------------------------------------------

#container
{
    margin: 0 auto;
    width: 80%;
    padding: 10px 15px;
    background-color: #232323;
}

.msg_box
{
    margin: 0;
    padding: 0;
}


.msg_box li
{
    padding: 5px;
    list-style-type: none;
}

.msg_box li:nth-child(even)
{
    background-color: #2A2A2A;
}

.msg_box li:hover
{
    background-color: #8e1b1b;
}

#post_form input , #post_form p
{
    display: inline-block;
}

#i-usr
{
    background: url('./res/usr.png') no-repeat 5px center;
    padding-left: 35px;
}

#i-msg
{
    background: url('./res/msg.png') no-repeat 5px center;
    padding-left: 35px;
}

.c-id
{
    font-weight: bold;
    color: #C4CEA7;
}

.c-time
{
    color: #818181;
}

.c-name
{
    font-weight: bold;
    color: #AA759F;
}